body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f89e2a;
}

.breadcrumbs {
    background: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.breadcrumbs a {
    color: #be6902ca;
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.breadcrumbs span {
    color:#be6902ca;
    font-weight: bold;
    margin: 0 5px;
}

.search-box {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(163, 46, 0);
    border-radius: 5px;
    font-size: 16px;
}

.list {
    background: #e38202;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.item {
    border: 3px solid #9b4b04;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    background: #fe9001;
}

.item h3 {
    margin: 0 0 10px 0;
    color: #ffffff;
}

.item p {
    margin: 5px 0;
    color: #ffffff;
}

.delete-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    transition: all 0.3s ease;
}

.delete-btn:hover {
    background: #c82333;
}

.add-form {
    background: #ffbf49;
    border: 3px solid rgb(163, 46, 0);
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.add-form input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.add-form button {
    background: #d78e04;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
    display: inline-block;
}

.add-form button:hover {
    transform: scale(1.05);
    background: #e4990e;
}

.error-message {
    color: red;
    font-size: 14px;
    margin: 10px 0;
}

h1 {
    color: #ffffff;
    border-bottom: 2px solid #c25100;
    padding-bottom: 10px;
}

.navigation {
    margin: 15px 0;
}

.navigation a {
    color: #412d00;
    text-decoration: none;
    margin: 0 10px;
    transition: all 0.3s ease;
    display: inline-block;
}

.navigation a:hover {
    transform: scale(1.20);
    color: #412d00;
}

.count-info {
    font-weight: bold;
    margin: 10px 0;
    color: #994000;
}

.action-btn{
    background: #be5300;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.action-btn:hover{
    transform: scale(1.05);
    background: #f58d3e;
}